<!DOCTYPE html>
<html>
<head>
	<title>Gestor de Incidencias</title>
</head>
<body>
	<h2>Buscador de incidencias comunes (FAQ)</h2>
	<form action="/search" method="get">
	<a href='/nuevaincidencia'>A&ntilde;adir una nueva incidencia</a>
	<br />
	<br />
	
		<label for="busqueda">Introduce palabras para buscar</label>
		<input type="text" name="busqueda"/>
		<input type="submit" name="enviar" value="Enviar"/>
	</form>
	<h2>Buscar por categor&iacute;as</h2>
	<ul>
		{{#results}}
			<li><a href="/categoria?id={{id}}">{{categoria}}</a></li>
		{{/results}}
	</ul>
</body>
</html>